<template>
    <div class="recipe-list-container">
        <header>
            <h2>Recipes</h2>
        </header>
        <ul class="recipe-list">
            <RecipeListItem
                v-for="recipe in recipes"
                v-bind:key="recipe._id"
                v-bind:recipe="recipe"
            />
        </ul>
    </div>
</template>

<script>
  import {Recipes} from '/imports/collections/index'
  import RecipeListItem from './RecipeListItem.vue';

  export default {
    name: "RecipesList",
    components: {
      RecipeListItem,
    },
    data() {
      return {};
    },
    methods: {
    },
    meteor: {
      $subscribe: {
        // Subscribes to the 'Recipes' publication with no parameters
        Recipes: []
      },
      recipes() {
        return Recipes.find({}).fetch();
      }
    }
  }
</script>

<style scoped lang="css">
    .recipe-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

</style>