<template>
    <a class="recipe-list-item" v-bind:href="'/recipes/view/' + recipe._id">
        <div class="recipe-image-container">
            <img v-bind:src="recipe.photoUrl" class="recipe-image"  alt="Recipe image"/>
        </div>
        <div class="recipe-content">
            <div class="recipe-title">{{ recipe.title}}</div>
            <div class="recipe-rating">{{ recipe.rating }}</div>
            <div class="recipe-notes">{{ recipe.notes }}</div>
        </div>
    </a>
</template>

<script>
  export default {
    name: "RecipeListItem",
    props: ["recipe"],
    data() {
      return {};
    }
  }
</script>

<style scoped lang="css">
    .recipe-list-item {
        display: flex;
        align-items: stretch;
        text-decoration: none;
        margin: 10px;
        width: 500px;
        height: 128px;
    }
    .recipe-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img.recipe-image {
        border: 0;
        width: 128px;
        height: 128px;
    }
    .recipe-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 10px;
        line-height: 1.5em;
    }
    .recipe-title {
        font-size: 18px;
        color: #456;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .recipe-rating {
        font-size: 14px;
        color: gold;
    }
    .recipe-notes {
        flex: 1;
        font-size: 12px;
        color: #89a;
    }
</style>