<template>
    <div class="recipe-display">
        <a href="/recipes">Back to the recipes list</a>
        <br/>
        <div v-if="recipe">
            <img v-bind:src="recipe.photoUrl" alt="Photo" class="recipe-image" />
            <div class="recipe-title">{{ recipe.title }}</div>
            <div class="recipe-rating">{{ recipe.rating }}</div>
            <div class="recipe-notes">{{ recipe.notes }}</div>
        </div>
    </div>

</template>

<script>
  import {Recipes} from "/imports/collections";

  export default {
    name: "RecipeDisplay",
    components: {
    },
    props: [
      'recipeId',
    ],
    data() {
      return {};
    },
    methods: {
    },
    meteor: {
      $subscribe: {
        // Subscribes to the 'Recipes' publication with no parameters
        Recipes: function() {
          return [this.recipeId];
        }
      },
      recipe() {
        return Recipes.findOne(this.recipeId);
      }
    }
  }
</script>

<style scoped>

</style>