<template>
    <div class="app-layout">
        <!-- Menu -->
        <app-menu></app-menu>

        <!-- Route content -->
        <router-view></router-view>
    </div>
</template>

<script>
  import AppMenu from './AppMenu.vue';

  export default {
    name: "AppLayout",
    components: {
      AppMenu
    }
  }
</script>

<style scoped>

</style>