<template>
    <div class="app-menu">
        <router-link :to="{ name:'home', exact: true }">Home</router-link>
        <router-link :to="{ name:'about' }">About</router-link>
        <router-link :to="{ name:'recipesList' }">Recipes</router-link>
    </div>
</template>

<style scoped>
    .app-menu {
        margin-bottom: 20px;
    }
</style>